venv
.vscode
__pycache__
.env
*.log

*.tfstate*
*.tfvars
.terraform
*.lock.hcl

lambda/app/**
!lambda/app/lambda_rgrunner.zip
!lambda/app/handler.py
!lambda/app/utils/create_context.py
!lambda/app/requirements.txt

.DS_Store
